/* style for desktop devices */
@media (max-resolution: 1.9dppx){

    div.wrap{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        padding: 0px;
        margin: 0px;
        overflow: clip;
        max-width: 1800px;
        display: flex;
        flex-direction: column;
    }

    div.header{
        color: var(--header-txt-color);
        background-color: var(--header-bg-color);
        height: var(--header-height);
        user-select: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 25px;
        font-family: "Co Headline Bold", "Co Headline";
        font-weight: bold;
        font-size: 40pt;
        
    }


    div.menu{
        color: var(--menu-txt-color);
        background-color: var(--menu-bg-color);
        height: var(--menu-height);
        overflow: clip;
        user-select: none;
        font-family: var(--menu-font);
        display: flex;
        flex-direction: row;
        align-items: normal;
        justify-content: flex-start;
        padding-left: 10px;
        padding-right: 10px;

    }
    div.menu span{
        order: 1;
        display: flex;
        flex-direction: row;
        overflow-y: clip;
        overflow-x: auto; 
    }
    div.menu span::-webkit-scrollbar{
        height: 1px;
    }
    div.menu a{
        width: auto;
    }
    div.menu button{
        order: 1;
        height: calc(var(--menu-height) - 10px);
        margin: 5px;
        min-width: 150px;
        max-width: 500px;
        width: auto;
        font-family: var(--menu-font);
        font-size: 14pt;
        font-weight: 200;
        text-transform: uppercase;
    }
    div.menu button.select{
        order: 0;
        background-color: rgb(15, 99, 15);
        color: whitesmoke;
    }
    div.menu button.log{
        order: 2;
        margin-left: auto;
    }
    div.menu a.log{
        order: 2;
        min-width: 200px;
        max-width: 500px;
        width: auto;
        margin-left: auto;
    }

    div.search{
        color: var(--search-txt-color);
        background-color: var(--search-bg-color);
        height: var(--search-height);
        user-select: none;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    div.search a{
        order: 1;
        height: calc(var(--search-height) - 5px);
        margin: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        min-width: 100px;
        max-width: 300px;
        width: auto;
    }
    div.search button{
        order: 1;
        height: calc(var(--search-height) - 5px);
        margin: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        min-width: 100px;
        max-width: 300px;
        width: auto;
    }
    div.search button.search{
        margin-left: auto;
        order: 2;
        height: calc(var(--search-height) - 5px);
        font-size: 18pt;
    }
    div.search input[type=search]{
        order: 3;
        height: calc(var(--search-height) - 5px);
        font-size: 18pt;
        margin-left: 10px;
        margin-right: 2px;
        padding-left: 10px;
    }

    div.content{
        color: var(--content-txt-color);
        background-color: var(--content-bg-color);
        height: calc(100vh - var(--header-height) - var(--menu-height) - var(--search-height) - var(--footer-height));
        overflow-x: clip;
        overflow-y: auto;
        padding: 5px;
        font-family: var(--content-font);
    }

    div.footer{
        color: var(--footer-txt-color);
        background-color: var(--footer-bg-color);
        height: var(--footer-height);
        user-select: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

}