{% extends 'base.html' %}

{% block content %}

<div class="grid">
<div class="dash-box">
    <h1>Version Upgrades</h1>
    <h2>Remaining: {{Total}} <progress max="{{Omni_Tot}}" value="{{Total}}"></progress></h2>
    <h3>North Tower: {{NT}} <progress max="{{NT_Tot}}" value="{{NT}}"></progress></h2></h3>
    <h3>South Tower: {{ST}} <progress max="{{ST_Tot}}" value="{{ST}}"></progress></h2></h3>
    <h3>HVN Tower: {{UB}} <progress max="{{UB_Tot}}" value="{{UB}}"></progress></h2></h3>
    <h3>Offsite: {{OFF}} <progress max="{{OFF_Tot}}" value="{{OFF}}"></progress></h2></h3>
    <div class="content">
    {% for Omni in Upgrades %}
    <a href="{% url 'dash-omni' Omni.pk %}"><button type="button">
        {{Omni.Omni_Id}}
    </button></a>
    {% endfor %}
    </div>
</div>
</div>

{% endblock %}