{% extends 'base.html' %}

{% block content %}

<div class="grid">
<div class="dash-box">
    <h1>Version Upgrades</h1>
    <h2>Remaining: {{Total}}</h2>
    <h3>North Tower: {{NT}}</h3>
    <h3>South Tower: {{ST}}</h3>
    <h3>HVN Tower: {{UB}}</h3>
    <h3>Offsite: {{OFF}}</h3>
    <div class="content">
    {% for Omni in Upgrades %}
    <a href="{% url 'dash-omni' Omni.pk %}"><button type="button">
        {{Omni.Omni_Id}}
    </button></a>
    {% endfor %}
    </div>
</div>
</div>

{% endblock %}