{% extends 'base.html' %}

{% block menu %}
{% include 'menu/db/box.html' %}
{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
{% endblock %}

{% block search %}
<a href="{% url 'box-list' %}"><button type=button>
    Cancel
</button></a>
<button type=submit>Save</button>
{% endblock %}

{% block content %}
<div class="form-view">

    <span>
        <label for="id_Refrigerator">Refrigerator:</label>
        {{form.Refrigerator}}
    </span>

    <span>
        <label for="id_Medication">Medication:</label>
        {{form.Medication}}
    </span>

    <span>
        <label for="id_Description">Description:</label>
        {{form.Description}}
    </span>

    <span>
        <label for="id_Key">Key:</label>
        {{form.Key}}
    </span>

</div>
{% endblock %}