{% extends 'base.html' %}

{% block menu %}
<form>
<a class="log" href="{% url 'login' %}"><button type=button class="log">Cancel</button></a>
</form>
{% endblock %}

{% block form %}
<form method="post">
{% csrf_token %}
{% endblock %}

{% block content %}
<div class="login">

    <span>
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
    </span>

    <h2>SET PASSWORD</h2>
    <span>
    <label for="id_new_password1">New Password:</label>
    {{form.new_password1}}
    </span>

    <span>
    <label for="id_new_password2">Repeat Password:</label>
    {{form.new_password2}}
    </span>

    <ul>
        <li>Your password cannot be too similar to your other personal details.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password cannot be a commonly used password.</li>
        <li>Your password cannot be entirely numeric.</li>
    </ul>
    <button type="submit">Confirm Password</button>
</div>
{% endblock %}