{% extends 'base.html' %}

{% block menu %}
<a href="{% url 'omni-list' %}"><button type=button>Omnicells</button></a>
<a href="{% url 'ref-list' %}"><button type=button>Refrigerators</button></a>
<a class="select" href="{% url 'box-list' %}"><button class="select" type=button>Lockboxes</button></a>
{% endblock %}


{% block search %}
<a href="{% url 'box-update' object.pk %}"><button type=button>
    Edit
</button></a>
{% endblock %}

{% block content %}
<div class="form-view">

    <span>
        <label for="id_Refrigerator">Refrigerator:</label>
        <p>{{object.Refrigerator}}</p>
    </span>

    <span>
        <label for="id_Medication">Medication:</label>
        <p>{{object.Medication}}</p>
    </span>

    <span>
        <label for="id_Description">Description:</label>
        <p>{{object.Description}}</p>
    </span>

    <span>
        <label for="id_Key">Key:</label>
        <p>{{object.Key}}</p>
    </span>

</div>
{% endblock %}