{% extends 'base.html' %}

{% block menu %}

{% endblock %}

{% block content %}

<div id="viewer">
    <table class="masterlist">
        <tr>
            <th>Omni ID</th>
            <th>Ref ID</th>
            <th>Medication</th>
            <th>Description</th>
            <th>Key</th>
        </tr>
    
        {% for object in object_list %}
        <tr class="list">
            <td class="list">{{object.Refrigerator.Omnicell}}</td>
            <td class="list">{{object.Refrigerator}}</td>
            <td class="list">{%if object.Medication%}{{object.Medication}}{%endif%}</td>
            <td class="list">{{object.Description}}</td>
            <td class="list">{{object.Key}}</td>
        </tr>
        {% endfor %}
    
    </table>
    
    </div>

{% endblock %}

