{% extends 'base.html' %}

{% block menu %}

{% endblock %}

{% block content %}

    <div class="table">
        <table>
            <thead>
                <tr>
                    <td>{% now "F d, Y" %}</td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>Hospital</td>
                    <td>Area</td>
                    <td>Room</td>
                    <td>Serial Number</td>
                    <td>Description</td>
                    <td>Type</td>
                    <td>Model</td>
                    <td>Software Version</td>
                    <td>Computer Name</td>
                    <td>Notes</td>
                    <td>Emergency</td>
                    <td>Ivanti</td>
                    <td>Lockbox</td>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{{object.Omni_Id}}</td>
                    <td>{{object.Building}}</td>
                    <td>{{object.Area}}</td>
                    <td>{{object.Room}}</td>
                    <td>{{object.Serial_Number}}</td>
                    <td>{{object.Omni_Description}}</td>
                    <td>{{object.Type}}</td>
                    <td>{{object.Model}}</td>
                    <td>{{object.CT_Version}}</td>
                    <td>{{object.PC_Name}}</td>
                    <td>{{object.Note}}</td>
                    <td>{{object.Emergency}}</td>
                    <td>{{object.Ivanti}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

