{% extends 'base.html' %}

{% block menu %}
{% include 'menu/db/omni.html' %}
{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
{% endblock %}

{% block search %}

<a href="{% url 'omni-list' %}"><button type=button>
    Cancel
</button></a>

<button type=submit>Save</button>

{% endblock %}

{% block content %}

<div class="form-view">
    <span>
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
            <ul>
                {% for error in field.errors %}
                    <li>{{error}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
    </span>

    <h1>Hardware</h1>
    <span>
        <label for="id_Omni_Id">Omnicell ID:</label>
        {{form.Omni_Id}}
    </span>

    <span>
        <label for="id_Omni_Description">Description:</label>
        {{form.Omni_Description}}
    </span>

    <span>
        <label for="id_Serial_Number">Serial:</label>
        {{form.Serial_Number}}
    </span>

    <span>
        <label for="id_Model">Model:</label>
        {{form.Model}}
    </span>

    <h1>Location</h1>
    <span>
        <label for="id_Building">Building:</label>
        {{form.Building}}
    </span>

    <span>
        <label for="id_Area">Area:</label>
        {{form.Area}}
    </span>

    <span>
        <label for="id_Room">Room:</label>
        {{form.Room}}
    </span>

    <span>
        <label for="id_Door_Code">Door Code:</label>
        {{form.Door_Code}}
    </span>
        
    <h1>Software</h1>
    <span>
        <label for="id_CT_Version">CT Version:</label>
        {{form.CT_Version}}
    </span>

    <span>
        <label for="id_Ivanti">Ivanti:</label>
        {{form.Ivanti}}
    </span>

    <span>
        <label for="id_Note">Notes:</label>
        {{form.Note}}
    </span>


</div>


{% endblock %}
