{% extends 'base.html' %}

{% block menu %}
{% include 'menu/omni.html' %}
{% endblock %}

{% block search %}
<a href="{% url 'omnimaster' %}" style="float:left;"><button type=button></button>
    Master Table
</button></a>

<input name="q" type="search" class="search" placeholder="Search...">
<button type=submit>Search</button>
{% endblock %}

{% block content %}

<div class="list">

<a class="new" href="{% url 'omni-create' %}"><button class="new" type=button>
    New Omnicell
</button></a>
{% for object in object_list %}

<a href="{% url 'omni-view' object.pk %}"><button type=button>
    {{object.Omni_Id}} | {{object.Omni_Description}}
</button></a>
        
{% endfor %}

</div>
{% endblock %}