{% extends 'base.html' %}

{% block menu %}

<script>
    function toggleMenu(){
        var menu1 = document.getElementById('menu1');
        var menu2 = document.getElementById('menu2');
        if(menu1.style.display == "none"){
            menu1.style.display = "block";
            menu2.style.display = "none";
        }else{
            menu1.style.display = "none";
            menu2.style.display = "block";
        }
    }
</script>

<div id="menu1" style="display:none">
<table class="menuBar">
    <tr>
        <td><a class="vMenu" href="{% url 'omnicells' %}">Omnicells</a></td>
        <td><a class="vMenu" href="{% url 'refrigerators' %}">Refrigerators</a></td>
        <td><a class="vMenu" style="width:1em;font-size:2.5em;" href="#" onClick="toggleMenu()">></a></td>
    </tr>
</table>
</div>

<div id="menu2" style="display:block">
    <table class="menuBar">
        <tr>
            <td><a class="vMenu" style="width:1em;font-size:2.5em;" href="#" onClick="toggleMenu()"><</a></td>
            <td><a class="vMenuSelect" href="{% url 'auxs' %}">Aux</a></td>
            <td><a class="vMenu" href="">Lockbox</a></td>
            
        </tr>
    </table>
</div>

{% endblock %}

{% block content %}

<div id="searchBar">
    <center>
    <table class='searchBar' width=80%>
        <tr>
            <td></td>
            <td align=right>
                <form action="" method="get">
                    <input name="q" type="search" placeholder="Search..."> <input type="submit" value="Search">
                </form>
            </td>
            <td width=3%>&nbsp;</td>
    </table>
</center>
</div>
<br>
<div id="viewer">


<table class="list" width=90%>
    <tr class="rowList">
        <th class="tdList" width="20%">Omnicell</th>
        <th class="tdList" width="10%">Serial Number</th>
        <th class="tdList">Model</th>
        <th></th>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>
{% for object in object_list %}
    <tr class="rowList">
        <td class="tdList">{{ object.Omnicell }}</td>
        <td class="tdList">{{ object.Serial_Number }}</td>
        <td class="tdList">{{ object.Model }}</td>
        <td><a class="rowLink" href="{% url 'viewAux' object.pk %}">  </a></td>
    </tr>
{% endfor %}
</table>



</div>
{% endblock %}