<html>
<head>
    <title>Pharmacy Automation - Omni Master</title>

    {% load static %}
    <link href="https://db.onlinewebfonts.com/c/1a4d54b0835ab704ab312c1053401429?family=Co+Headline+Bold" rel="stylesheet">
    <link href="https://db.onlinewebfonts.com/c/d285466708775c42c08001b9040b1daa?family=Co+Headline+Corp+Light+Regular" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static '_pc.css' %}" /> 
    
    
</head>

<body>
    <div class="wrap">
    {% block header %}
    
    <div class="title">
        <table class="title">
            <tr>
                <td width=65%><h1>OmniMaster</h1></td>
            </tr>
        </table>
    </div>
    

    {% endblock %}

    {% block menu %} {% endblock %}

    {% block search %} {% endblock %}

    {% block content %} {% endblock %}

    {% block footer %} {% endblock %}

    </div>
</body>

</html>