{% extends 'base.html' %}

{% block menu %}

<div class="menu pc">
<table class="menu">
    <tr>
        <td><a class="menu" href="{% url 'omnicells' %}">Omnicells</a></td>
        <td><a class="menu" href="{% url 'refrigerators' %}">Refrigerators</a></td>
        <td><a class="menu" href="{% url 'omnicells' %}">Lockboxes</a></td>
    </tr>
</table>
</div>

{% endblock %}

{% block search %}
<div class="search">
    </div>
</div>
<!-- <div class="menu mobile">
    <table class="menu">
        <tr>
            <td><a class="vMenu" style="width:1em;font-size:2.5em;" href="#" onClick="toggleMenu()"><</a></td>
            <td><a class="vMenu" href="{% url 'auxs' %}">Aux</a></td>
            <td><a class="vMenu" href="{% url 'lockboxes' %}">Lockbox</a></td>
            
        </tr>
    </table>
</div> -->

{% endblock %}

{% block content %}

{% endblock %}