{% extends 'base.html' %}

{% block menu %}

{% endblock %}

{% block content %}

<div id="viewer">
<table class="list">
    <tr>
        <th>Omni ID</th>
        <th>Hospital</th>
        <th>Area</th>
        <th>Room</th>
        <th>Serial No</th>
        <th>Description</th>
        <th>Model</th>
        <th>CT Version</th>
        <th>PC Name</th>
        <th>Emergency</th>
    </tr>

    {% for object in object_list %}
    <tr class="rowList">
        <td class="tdList">{{object.Omni_Id}}</td>
        <td class="tdList">{{object.Building}}</td>
        <td class="tdList">{{object.Area}}</td>
        <td class="tdList">{{object.Room}}</td>
        <td class="tdList">{{object.Serial_Number}}</td>
        <td class="tdList">{{object.Omni_Description}}</td>
        <td class="tdList">{{object.Model}}</td>
        <td class="tdList">{{object.CT_Version}}</td>
        <td class="tdList">{{object.PC_Name}}</td>
        <td class="tdList">{{object.Emergency}}</td>
    </tr>
    {% endfor %}

</table>

</div>

{% endblock %}

