{% extends 'base.html' %}

{% block menu %}

<table class='menuBar'>
    <tr>
        <td><a class="vMenuSelect" href="{% url 'omnicells' %}">Omnicells</a></td>
        <td><a class="vMenu" href="{% url 'refigerators' %}">Refrigerators</a></td>
    </tr>
</table>

{% endblock %}

{% block content %}

<div id="searchBar">
    <center>
    <table class="searchBar" width=90%>
        <tr>
            <tr>
                <td width="25%"><a class="submenu" href="{% url 'updateOmnicell' object.pk %}">EDIT</a></td>
                <td align=center><h2>{{object.Omni_Id}}</h2></td>
            </tr>
    </table>
</center>
</div>
<br>
<div id="viewer">



    <table width="90%" class='detail'>
        

        <tr>
            <td align="right" width="150px" style="padding-right:10px;">Description:</td>
            <td>{{object.Omni_Description}}</td>
        </tr>

        <tr>
            <td align="right" style="padding-right:10px;">Serial #:</td>
            <td>{{object.Serial_Number}}</td>
        </tr>

        <tr>
            <td align="right" style="padding-right:10px;">Model:</td>
            <td>{{object.Model}}</td>
        </tr>

        <tr>
            <td colspan="3"><br><hr><br></td>
        </tr>

        <tr>
            <td align="right" style="padding-right:10px;">Building:</td>
            <td>{{object.Building}}</td>
            
        </tr>

        <tr>
            <td align="right" style="padding-right:10px;">Area:</td>
            <td>{{object.Area}}</td>
            
        </tr>
        {% if object.Room %}
        <tr>
            <td align="right" style="padding-right:10px;">Room:</td>
            <td>{{object.Room}}</td>
        </tr>
        {% endif %}

        {% if object.Door_Code %}
        <tr>
            <td align="right" style="padding-right:10px;">Door Code:</td>
            <td>{{object.Door_Code}}</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="3"><br><hr><br></td>
        </tr>

        <tr>
            <td align="right" style="padding-right:10px;">CT Version:</td> 
            <td>{{object.CT_Version}}</td>
            
        </tr>

        <tr>
            <td align="right" style="padding-right:10px;">Ivanti:</td>
            <td>{% if object.Ivanti %}Yes{%else%}No{%endif%}</td>
            
        </tr>

        <tr>
            <td align="right" style="padding-right:10px;">Notes:</td>
            <td colspan="2">{{ object.Note }}</td>
        </tr>

        <tr>
            <td colspan="3"><br><hr><br></td>
        </tr>
        
        {% if Refrigerators %}
        <tr>
            <td align="right" valign=middle style="padding-right:10px;">Refrigerators:</td>
            <td valign=middle>
                <table>
                    <tr>
                        {% for Refrigerator in Refrigerators %}
                            
                            <td><a class='ref' href='{% url "viewRefrigerator" Refrigerator.pk %}'>{{Refrigerator.Facilities_Id}}<br>{{Refrigerator.Type}}</a></td>
                            
                        {% endfor %}
                    </tr>
                </table><Br><br>
            </td>
        </tr>
        {% endif %}

        <tr>
            <td colspan="3"><br><hr><br></td>
        </tr>

        {% if Auxs %}
        <tr>
            <td align="right" valign=middle style="padding-right:10px;">Aux Cabinets:</td>
            <td valign=middle>
                <table>
                    <tr>
                        {% for Aux in Auxs %}
                            
                            <td><a class='aux' href='{% url "viewAux" Aux.pk %}'>{{Aux.Serial_Number}}<br>{{Aux.Model}}</a></td>
                            
                        {% endfor %}
                    </tr>
                </table><Br><br>
            </td>
        </tr>
        {% endif %}

    </table>


</div>
<br><br><Br><Br>

{% endblock %}
