{% extends 'base.html' %}

{% block menu %}
<div class="menu">
    <table class="menu">
        <tr>
            <td><a class="menu select" href="{% url 'omnicells' %}">Omnicells</a></td>
            <td><a class="menu" href="{% url 'refrigerators' %}">Refrigerators</a></td>
            <td><a class="menu" href="{% url 'omnicells' %}">Lockboxes</a></td>
        </tr>
    </table>
</div>
{% endblock %}

{% block search %}
<div class="search">
<table class='search'>
    <tr>
        <td>
            <form action="" method="get">
                <input name="q" type="search" class="search" placeholder="Search..."> <input type="submit" class="search" value="Search">
            </form>
        </td>
    </tr>
</table>
</div>
{% endblock %}

{% block content %}
<div class="content">


<table class="list">
    <thead>
    <tr class="list">
        <th class="list"> </th>
        <th class="list">Omnicell</th>
        <th class="list">Description</th>
        <th class="list">Serial</th>
    </tr>
    </thead>
{% for object in object_list %}
    <tr class="list">
        <td class="list">{%if object.Emergency%}<font style="font-weight:400;color:red;">&#x26A0;</font>{%endif%}</td>
        <td class="list">{{ object.Omni_Id }} </td>
        <td class="list">{{ object.Omni_Description|truncatechars:28 }}</td>
        <td class="list">{{ object.Serial_Number }}</td>
        <td class="list"><a class="link" href="{% url 'viewOmnicell' object.pk %}">  </a></td>
    </tr>
{% endfor %}
</table>

</div>
{% endblock %}