{% extends 'base.html' %}

{% block menu %}

<div class="menu pc">
    <table class="menu">
        <tr>
            <td><a class="menu" href="{% url 'omnicells' %}">Omnicells</a></td>
            <td><a class="menu" href="{% url 'refrigerators' %}">Refrigerators</a></td>
            <td><a class="menu" href="{% url 'omnicells' %}">Lockboxes</a></td>
        </tr>
    </table>
    </div>

{% endblock %}

{% block search %}
<div class="search">
<table class='search'>
    <tr>
        <td>
            <form action="" method="get">
                <input name="q" type="search" placeholder="Search..."> <input type="submit" value="Search">
            </form>
        </td>
</table>
</div>
{% endblock %}

{% block content %}
<div class="content">


<table class="list" width=90%>
    <tr class="rowList">
        <th class="tdList"></th>
        <th class="tdList" width="5%">Omnicell</th>
        <th class="tdList">Description</th>
        <th class="tdList" width="5%">Serial</th>
    </tr>

    <tr>
        <td>&nbsp;</td>
    </tr>
{% for object in object_list %}
    <tr class="rowList">
        <td class="'tdList">{%if object.Emergency%}<font style="font-weight:400;color:red;">&#x26A0;</font>{%endif%}</td>
        <td class="tdList">{{ object.Omni_Id }} </td>
        <td class="tdList">{{ object.Omni_Description|truncatechars:28 }}</td>
        <td class="tdList">{{ object.Serial_Number }}</td>
        <td><a class="rowLink" href="{% url 'viewOmnicell' object.pk %}">  </a></td>
    </tr>
{% endfor %}
</table>

</div>
{% endblock %}