{% extends 'base.html' %}

{% block menu %}

<table>
    <tr>
        <td><a class="vMenuSelect" href="{% url 'omnicells' %}">Omnicells</a></td>
        <td><a class="vMenu" href="">Refrigerators</a></td>
    </tr>
</table>

{% endblock %}

{% block content %}

<div id="searchBar">
    <center>
    <table width=80%>
        <tr>
            <tr>
                <td>EDIT</td>
                <td>Omni_Id</td>
            </tr>
    </table>
</center>
</div>

<div id="viewer">

<div id="main">

    <table width="90%">
        

        <tr>
            <td>Description</td>
            <td rowspan="3">Refrigerators</td>
        </tr>

        <tr>
            <td>Serial Number</td>
        </tr>

        <tr>
            <td>Type</td>
        </tr>

        <tr>
            <td colspan="2"><hr></td>
        </tr>

        <tr>
            <td>Hospital</td>
            <td></td>
        </tr>

        <tr>
            <td>Area</td>
            <td></td>
        </tr>

        <tr>
            <td>Room</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="2"><hr></td>
        </tr>

        <tr>
            <td>CT Version</td>
            <td></td>
        </tr>

        <tr>
            <td>Ivanti</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="2">Notes</td>
        </tr>
    </table>

</div>
</div>

</body>
</html>