{% extends 'base.html' %}

{% block menu %}

<div class="menu">
    <table class="menu">
        <tr>
            <td><a class="menu" href="{% url 'omnicells' %}">Omnicells</a></td>
            <td><a class="menu select" href="{% url 'refrigerators' %}">Refrigerators</a></td>
            <td><a class="menu" href="{% url 'lockboxes' %}">Lockboxes</a></td>
        </tr>
    </table>
</div>

{% endblock %}

{% block search %}

<div class="search">
    <table class='search'>
        <tr>
            <tr>
                <td class="button"><input type=submit class='search' value="Save"></td>
                <td class="button"><a class='search' href='{% url "viewRefrigerator" object.pk %}'>Cancel</a></td>
                <td class="button"></td>
                <td class="search"><h2>{{object.Facilities_Id}}</h2></td>
                <td width="100%"></td>
            </tr>
    </table>
</div>

{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <!-- Form Error Messages -->
       {% if form.errors %}
       <div class="alert">
        <table class="alertTable">
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <Tr><Td> {{ error | escape }} </td></tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
            <Tr><Td> {{ form.non_field_errors }} </td></tr>
        {% endif %}
            </table>
       </div>
       <br><br>
       {% endif %} 
   <!-- End of Error Messages-->
   
       <!-- Security token -->
       {% csrf_token %}
    
       <!-- Using the formset -->

       {% load widget_tweaks %}

<div class="content">

    <table class='detail'>
        
        <tr>
            <td class="label">Facilities ID:</td>
            <td class="detail">{{form.Facilities_Id}}</td>
            <td width="100%"></td>
        </tr>

        <tr>
            <td class="label">Omnicell:</td>
            <td class="detail">{{form.Omnicell}}</td>
            <td width="100%"></td>
        </tr>

        <tr>
            <td class="label">Model:</td>
            <td class="detail">{{form.Type}}</td>
            <td width="100%"></td>
        </tr>

       
    </table>


</div>
</form>
{% endblock %}
