{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'pc.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'mobile.css' %}"> 
{% endblock %}

{% block header %}

<h1>OmniMaster</h1>

{% endblock %}

{% block menu %}
<div class="menu">

    <a class="menu select" href="{% url 'omnicells' %}">Omnicells</a>
    <a class="menu" href="{% url 'refrigerators' %}">Refrigerators</a>
    <a class="menu" href="{% url 'lockboxes' %}">Lockboxes</a>

</div>
{% endblock %}

{% block search %}
<div class="search">
<form action="" method="get">

<input name="q" type="search" class="search" placeholder="Search...">
<input type="submit" class="search" value="Search">

</form>
</div>
{% endblock %}

{% block content %}
<div class="content">

    <table class="list">
        <thead>
        <tr class="list">
            <th class="list"> </th>
            <th class="list">Omnicell</th>
            <th class="list">Description</th>
            <th class="list">Serial</th>
            
            <th> </th>
        </tr>
        </thead>
    {% for object in object_list %}
        <tr class="list">
            <td class="list">{%if object.Emergency%}<font style="font-weight:400;color:red;">&#x26A0;</font>{%endif%}</td>
            <td class="list">{{ object.Omni_Id }}</td>
            <td class="list">{{ object.Omni_Description|truncatechars:28 }}</td>
            <td class="list">{{ object.Serial_Number }}</td>
            
            <td class="link"><a class="link" href="{% url 'viewOmnicell' object.pk %}">  </a></td>
        </tr>
    {% endfor %}
    </table>

</div>
{% endblock %}