{% extends 'base.html' %}

{% block menu %}
<a href="{% url 'omni-list' %}"><button type=button>Omnicells</button></a>
<a class="select" href="{% url 'ref-list' %}"><button class="select" type=button>Refrigerators</button></a>
<a href="{% url 'box-list' %}"><button type=button>Lockboxes</button></a>
{% endblock %}

{% block search %}
<input name="q" type="search" class="search" placeholder="Search...">
<button type=submit>Search</button>
{% endblock %}

{% block content %}

<div class="list">

<a class="new" href=""><button type=button>
    New Refrigerator
</button></a>
{% for object in object_list %}

<a href="{% url 'ref-view' object.pk %}"><button type=button>
    {{object.Omnicell.Omni_Id}} | {{object.Facilities_Id}}
</button></a>
        
{% endfor %}

</div>
{% endblock %}
