{% extends 'base.html' %}

{% block menu %}
{% include 'menu/ref.html' %}
{% endblock %}

{% block search %}
<input name="q" type="search" class="search" placeholder="Search...">
<button type=submit>Search</button>
{% endblock %}

{% block content %}

<div class="list">

<a class="new" href="{% url 'ref-create' %}"><button class="new" type=button>
    New Refrigerator
</button></a>
{% for object in object_list %}

<a href="{% url 'ref-view' object.pk %}"><button type=button>
    {{object.Omnicell.Omni_Id}} | {{object.Facilities_Id}}
</button></a>
        
{% endfor %}

</div>
{% endblock %}
