{% extends 'base.html' %}

{% block menu %}
{% include 'menu/ref.html' %}
{% endblock %}

{% block form %}
<form method="post">
    {% csrf_token %}
{% endblock %}

{% block search %}

<a href="{% url 'ref-view' object.pk %}"><button type=button>
    Cancel
</button></a>

<button type=submit>Save</button>

{% endblock %}

{% block content %}

<div class="form-view">
    <h1>Hardware</h1>

    <span>
        <label for="id_Facilities_Id">Facilities ID:</label>
        {{form.Facilities_Id}}
    </span>

    <span>
        <label for="id_Omnicell">Omnicell:</label>
        {{form.Omnicell}}
    </span>

    <span>
        <label for="id_Model">Model:</label>
        {{form.Model}}
    </span>

</div>

{% endblock %}