{% extends 'base.html' %}

{% block menu %}
{% include 'menu/db/ref.html' %}
{% endblock %}

{% block search %}

<a href="{% url 'ref-update' object.pk %}"><button type=button>
    Edit
</button></a>

{% endblock %}

{% block content %}

<div class="form-view">
    <h1>Hardware</h1>
    <span>
        <label for="id_Facilities_Id">Facilities ID:</label>
        <p>{{object.Facilities_Id}}</p>
    </span>

    <span>
        <label for="id_Omnicell">Omnicell:</label>
        <p>{{object.Omnicell}}</p>
    </span>

    <span>
        <label for="id_Model">Model:</label>
        <p>{{object.Model}}</p>
    </span>

    <span>
        <label for="id_Category">Size:</label>
        <p>{{object.Model.Category}}</p>
    </span>

    

</div>


{% endblock %}
